<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Library Management System</h1>
          <nav>
              <ul>
                  <li><a href="index.html">Home</a></li>
              </ul>
          </nav>
    </header>
    
    <main>
        <section id="view-books">
            <h2>Books in Library</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>ISBN</th>
                        <th>Status</th>
                        <th>Borrow/Return</th>
                        <th>Remove</th> <!-- Add Action column for Delete button -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Book entries will go here -->
                </tbody>
            </table>
        </section>

        
      <section id="search-books">
          <h2>Search Books</h2>
          <form id="search-form">
              <label for="search-query">Search by Title, Author, or Genre:</label>
              <input type="text" id="search-query" name="search-query" placeholder="Enter book title, author, or genre">
              <button type="submit">Search</button>
          </form>

          <h2>Search by ISBN</h2>
          <form id="isbn-search-form">
              <label for="isbn-query">Search by ISBN:</label>
              <input type="text" id="isbn-query" name="isbn-query" placeholder="Enter book ISBN">
              <button type="submit">Search</button>
          </form>
      </section>

        
      <section id="add-book">
          <h2>Add New Book</h2>
          <form id="book-form">
              <label for="title">Title:</label>
              <input type="text" id="title" name="title" required>
              
              <label for="author">Author:</label>
              <input type="text" id="author" name="author" required>
              
              <label for="year">Year:</label>
              <input type="number" id="year" name="year" required>
              
              <label for="genre">Genre:</label>
              <input type="text" id="genre" name="genre" required>
              
              <label for="isbn">ISBN:</label>
              <input type="text" id="isbn" name="isbn" required> <!-- New ISBN field -->
              
              <button type="submit">Add Book</button>
          </form>
</section>

    </main>
    
    <footer>
        <p>&copy; 2024 Library Management System</p>
    </footer>
    
    <script src="script.js"></script>
</body>
</html>
